# archivos
Workshop002.pdf
eda_spotify_dataset.html
eda_the_grammy_awards.html
eda_rapido.py


# para airflow
# Logs y temporales
/logs/
airflow-*.log
*.log
airflow.cfg
airflow.db*
unittests.db
webserver_config.py
*.pid
*.lock
.airflow



# variables de entorno
.env
.env.local
.env.*.local

# para python un ignore general de internet
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.ropeproject
